<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>
    <h1>Courses</h1>
    <table border="1">
        <thead>
            <tr>
                <th>NAME</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
                <th>HOURS</th>
            </tr>
        </thead>
        <tbody th:each="course: ${courses}">
            <tr>
                <th th:text="${course.name}"></th>
                <th th:text="${course.description}"></th>
                <th th:text="${course.price}"></th>
                <th th:text="${course.hours}"></th>
            </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/courses/add-course}" th:object="${course}" method="post" >
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <!-- p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >Name has errors</p -->

        <p>Description: <input type="text" th:field="*{description}" /></p>
        <!-- p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" >Description has errors</p -->

        <p>Price: <input type="number" th:field="*{price}" /></p>
        <!-- p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" >Price has errors</p -->

        <p>Hours: <input type="number" th:field="*{hours}" /></p>
        <!-- p th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}" >Hours has errors</p -->

        <p> <input type="submit" value="Submit" /></p>
    </form>
</body>
</html>